<!--<p id="notice"><%= notice %></p> -->

<div class="row">
  <div class="col-md-3">
    <%= image_tag @restaurant.image_url %>

    <h2>
      <%= @restaurant.name %>
    </h2>

    <p>
      <strong>Address:</strong>
      <%= @restaurant.address %>
    </p>

    <p>
      <strong>Phone:</strong>
      <%= @restaurant.phone %>
    </p>

    <p>
      <strong>Website:</strong>
      <%= link_to @restaurant.website, @restaurant.website %>
    </p>

    <%= link_to "Write Review", new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>
  </div>
   
  <div class="col-md-9">
    <% if @reviews.blank? %>
      <h3>No reviews yet. Be the first to write one!</h3>
    <% else %>
      <thead>
        <tr>
          <th class="col-md-3"></th>
          <th class="col-md-9"></th>
        </tr>
      </thead>
      <% @reviews.each do |review| %>
        <td>
          <h4>
            <%= "#{review.user.username}" %>
          </h4>
          <p><b>Date: </b><%= review.created_at.strftime("%-m/%-d/%-y") %></p>
        </td>
        <p><b>Rating:</b> <%= review.rating %></p>
        <p><b>Comment:</b> <%= review.comment %></p>
      <% end %>
    <% end %>
  </div>
</div>

<%= link_to 'Edit', edit_restaurant_path(@restaurant), class: "btn btn-link" %> |
<%= link_to 'Back', restaurants_path, class: "btn btn-link" %>